<launch>
  <arg name="goal_x" default="0" />
  <arg name="goal_y" default="10" /> 
  
  <node pkg="barn_challenge" type="navigator.py" name="navigator" output="screen" />
  <node pkg="barn_challenge" type="test_corridor_publisher.py" name="test_corridor_publisher"/>
  <node pkg="barn_challenge" type="corridor_manager.py" name="corridor_manager"/>
</launch>
